#carousel {
    background-image: url("https://www.write-right.in/img/serviceinternal.webp");
    height: 500px;
    /* Adjust height as needed */
    background-position: center;
    background-size: cover;
  }
  
  .wow {
    margin-top: 180px;
  }
  
  .herocontent {
    text-align: center;
  }
  
  .pro-status {
    font-weight: 500;
    font-size: 40px;
  }
  
  /* Media query for screens less than 600px */
  @media (max-width: 600px) {
    #carousel {
      background-image: none;
      /* Remove background image on smaller screens */
    }
  
    .wow {
      margin-top: 120px;
      /* Adjust margin-top for smaller screens */
    }
  }