#carousel {
  height: 400px;
  /* Adjust height as needed */
  background-position: center;
  background-size: cover;
  
}

.bgImg{
}



.pro-status {
  font-weight: 500;
  font-size: 22px;
  animation: alternate-reverse;
  opacity: 1;
  /* Initially hide the text */
  animation: sni 2s;
  color: #15c39a;
}
#rM{
  margin-top: 100px;
}





@keyframes sni {
  from {
    transform: translateX(-100%);
    /* Start from 100% off-screen to the left */
    opacity: 0;
  }

  to {
    transform: translateX(0);
    /* Animate to the original position */
    opacity: 1;
  }
}
#btnHvn{
  font-weight: bold;
  font-size: 17px;
  background-color: #15c39a;
  border: 1px solid #15c39a;
}


#btnHvn:hover{
  background-color: #079070;
  border: 1px solid #079070;
}


.mtb40 {
  opacity: 1;
  /* Initially hide the text */
  font-size: 50px;
  animation: alternate-reverse;
  /* text-align: center; */
}
.mtb41{
  margin-right: -250px;
  animation: oni 2s ;
}
.nxtpara{
  font-size: 15px;
}



@keyframes ani {
  from {
    transform: translateX(-100%);
    /* Start from 100% off-screen to the left */
    opacity: 0;
  }

  to {
    transform: translateX(0);
    /* Animate to the original position */
    opacity: 1;
  }
}


/* Media query for screens less than 600px */

@media (min-width:990px) and (max-width: 1222px) {
  #carousel {
    height: 600px;
    /* Adjust height as needed */
    background-position: center;
    background-size: cover;
  }
  #rM{
    margin-top: 0;
  }
}

@media (max-width: 989px) {
  #carousel {
    height: 600px;
    /* Adjust height as needed */
    background-position: center;
    background-size: cover;
  }
  .mtb41 {
    opacity: 0;
    /* Adjust height as needed */
    background-position: center;
    background-size: cover;
  }
  #rM{
    margin-top: 0;
  }
}