#dataCol{
    margin-top: 90px;
}
#ck1{
    margin-right: -275px;
}
#ck2{
    margin-right: -110px;
}
#ck5{
    margin-right: -110px;
}
#ck6{
    margin-right: -275px;
}
#paraColck1{
        margin-top: 295px;
        margin-left: -130px;
}
#paraColck2{
        margin-left: -125px;
}



