#twoBox{
    justify-content: center;
    margin-top: 30px;
}
#col1{
    border: 1px solid #edf2fe;
    background-color: #edf2fe;
    border-radius: 1px;
    animation: oni 2s;
    margin: 0px;
}
#col2{
    border: 1px solid #15c39a;
    background-color: #15c39a;
    border-radius: 1px;
    animation: oni 4s;
    margin: 0px;
}
#head21{
    margin-top: 15px;
}
#btnHv{
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: #15c39a;
  border: 1px solid #15c39a;
}

#btnHv:hover{
  background-color: #079070;
  border: 1px solid #079070;
}

#head22{
    margin-top: 15px;
    color: white;

}
#paraC1{
    display: block;
    margin-top: 25px; 
    font-size: medium;
    font-family: serif;
    margin-top: 15px;
}
#paraC2{
    display: block;
    margin-top: 25px; 
    font-size: medium;
    font-family: serif;
    color: white;
    margin-top: 15px;
}

#ul1 {
    list-style: none;
    font-size: medium;
    font-weight: 500;
    margin-left: -40px;
  }
  
  #ul1 li:before {
    content: '✓';
  }
#ul2 {
    list-style: none;
    font-size: medium;
    font-weight: 500;
    margin-left: -40px;
    color: white;
  }
  
  #ul2 li:before {
    content: '✓';
    color: white;
  }


@keyframes cni {
    from {
        transform: translateX(-100%);  /* Start from 100% off-screen above */
        opacity: 0;
      }
      to {
        transform: translateX(0);  /* Animate to the original position */
        opacity: 1;
      }
  }
@keyframes oni {
    from {
        transform: translateX(100%);  /* Start from 100% off-screen above */
        opacity: 0;
      }
      to {
        transform: translateX(0);  /* Animate to the original position */
        opacity: 1;
      }
  }

  @media only screen and (max-width: 580px) {
    #col1{
        display: block;
        text-align: center;
    }
    #col2{
        display: block;
        text-align: center;
    }
}