.custom-shape-divider-top-1711964128 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
#portfolio{
    background-color: #15c39a;
    border-radius: 50px;
    border: 1px solid #15c39a;
}


@media (max-width: 750px) {
    #portfolio{
        opacity: 0;
    }
}

@media (max-width:550px) {
    #foornabvar{
        margin-left: -40px;
    }
}
