#writeImg{
    margin-top: 50px;
}

@media (min-width: 800px) and (max-width: 1200px) {
    #writeImg img {
      width: 800px;
    }
  }
  @media (max-width: 799px) {
    #writeImg img {
      display: none;
    }
  }

