#workSpeakFix {
    margin-top: 50px;
}
#columeLeft {
    margin-left: 70px;
}



@media (min-width:500px) and (max-width:700px) {
    #workSpeakFix {
        margin-top: 40px;
        margin-left: 105px;
    }
    #columeLeft {
        margin-left: 0px;
    }
}

@media (max-width:499px) {
    #workSpeakFix {
        margin-left: -25px;
    }
    #columeLeft {
        margin-left: 0px;
    }
}